@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    position: absolute;
    width: 100%;
    height: 100vh;
}

section .background {
    position: absolute;
    /* background-image: linear-gradient(rgb(255, 255, 255), rgb(126, 126, 126)); */
    filter: blur(40px);
    width: 100%;
    height: 100vh;
}

img {
    position: absolute;
    /* background-image: linear-gradient(rgb(255, 255, 255), rgb(126, 126, 126)); */
    filter: blur(40px);
    width: 100%;
    height: 145vh;
}

.topcard {
    position: relative;
    width: 100%;
    height: 145vh;
    overflow: hidden;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

.container {
    padding: 1.5%;
    width: 760px;
    height: 975px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.HeadingMaterial {
    text-align: center;
}

.nearaddress {
    margin-left: 10%;
}

.telnumber {
    margin-left: 10%;
}

.delidate {
    margin-left: 10%;
}

.deliverto {
    margin-left: 10%;
}

.justification {
    margin-left: 10%;
}

.requestorname {
    margin-left: 10%;
}

.refundname {
    margin-left: 10%;
}

.fundsavailable {
    margin-left: 10%;
}

.accountingdata {
    margin-left: 10%;
}

.requestno {
    margin-top: -17.5%;
    margin-left: 67%;
}

.date {
    margin-left: 67%;
}

.typetittle {
    margin-top: -61.5%;
    margin-left: 67%;
}

.date1 {
    margin-left: 67%;
}

.remarks {
    margin-left: 67%;
}

.orderfrom {
    margin-left: 67%;
}

.approval {
    margin-left: 67%;
}

.installation {
    margin-left: 67%;
}

.date2 {
    margin-left: 40%;
}

table {
    width: 100%;
    padding: 2px;
}

tr {
    border-collapse: collapse;
}

.VerifiedBy {
    margin-top: -31%;
    margin-left: 71.6%;
}

.SdApprovedBy {
    margin-left: 71.6%;
}

.next {
    position: absolute;
    margin-top: -10%;
    margin-left: 65%;
}

.previous {
    position: absolute;
    margin-top: -10%;
    margin-left: 20%;
}

button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.748);
}

button {
    width: 2.5cm;
    height: 1cm;
    background: rgba(65, 201, 255, 0.363);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.forminput {
    width: 4.5cm;
    height: 0.7cm;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tableinput {
    width: 3.2cm;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-color: rgba(255, 255, 255, 0.2);
}

.container2 {
    background-color: rgba(211, 211, 211, 0.1);
    width: 100%;
    margin: 0px auto;
    /* 

     */
    display: grid;
    grid-template-columns: 6% 45% 15% 6% 14% 14%;
    grid-template-rows: 1fr;
}

.container1 {
    background-color: rgba(211, 211, 211, 0.1);
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
}

.item {
    text-align: center;
    border: 1px solid rgb(255, 255, 255, 0.6);
}

.item1 {
    margin-top: 0%;
    border: 1px solid rgb(255, 255, 255, 0.6);
    text-align: center;
}